<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Add Book</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <form
    [formGroup]="addBookForm"
    #formDirective="ngForm"
    (ngSubmit)="onFormSubmit(formDirective)"
  >
    <div class="book-form-container">
      <mat-form-field hintLabel="Max 30 characters">
        <input
          matInput
          formControlName="titleInput"
          maxlength="30"
          placeholder="Title"
          required
        />
        <mat-hint align="end"
          >{{ addBookForm.get("titleInput").value?.length || 0 }}/30</mat-hint
        >
        <mat-error
          *ngIf="
            addBookForm.get('titleInput').errors?.required ||
            addBookForm.get('titleInput').errors?.whitespace
          "
        >
          You must enter valid value
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select
          placeholder="Category"
          formControlName="categoryInput"
          required
        >
          <mat-option value="Drama">Drama</mat-option>
          <mat-option value="Comedy">Comedy</mat-option>
          <mat-option value="Sport">Sport</mat-option>
        </mat-select>
        <mat-error *ngIf="addBookForm.get('categoryInput').errors?.required">
          You must select a value
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea
          matInput
          formControlName="descriptionInput"
          placeholder="Description"
          id="description"
          required
        ></textarea>
        <mat-error
          *ngIf="
            addBookForm.get('descriptionInput').errors?.required ||
            addBookForm.get('descriptionInput').errors?.whitespace
          "
        >
          You must enter valid value
        </mat-error>
      </mat-form-field>

      <button
        mat-flat-button
        type="submit"
        [disabled]="addBookForm.invalid"
        color="primary"
        id="add-button"
      >
        Add
      </button>
    </div>
  </form>
</div>
