@media only screen and (max-width: 600px) {
  .books-container {
    width: 100% !important;
    margin: auto;
  }
}

.book-item {
  max-width: 80%;
}

.books-container {
  width: 75%;
  margin: auto;
}

.book-item-container {
  width: 100%;
  height: 100% !important;
  margin: 0.5em;
}

.book-item-card {
  width: 100%;
}

.book-header-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Closed_Book_Icon.svg/512px-Closed_Book_Icon.svg.png');
  background-size: cover;
}
